CLICKHOUSE_DB=pygrab_db
CLICKHOUSE_USER=pygrab_user
CLICKHOUSE_PASSWORD=
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123

DOCKER_SOCKET=unix:///var/run/docker.sock
DOCKER_ENABLED=True
DOCKER_CONTAINERS=
